template(name="viewNote")
	if isPublic
		.col-xs-2
			span.glyphicon.glyphicon-file(style="font-size: 3.5em; color: #333332")
		.col-xs-8(style="padding-top: 100px")
			#editor(style="font-family: Roboto; font-size: 20px; outline none !important;")
				{{noteBody}}
		.col-xs-2
			span.glyphicon.glyphicon-link.pull-right(style="font-size:3.5em; color: #333332")
