template(name="view_note")
	if isPublic
		if title
			h3.text-center.coolHeading2 {{title}}
			p.text-center
				+facebookLike likeConfig
		else
			h3.text-center.coolHeading2 No Title
			p.text-center
				+facebookLike likeConfig
		hr
		if body
			p.whiteFont {{body}}
		else
			h3 Sorry, nothing has been written in this note yet.
	
	else
		h3 Sorry, this note is not available 
	br
	br
	br
