template(name="lectureToNotes")
	.container-fluid
		.row
			.col-xs-12.text-center
				h3.coolHeading2 Number of Listeners:
			hr 
		.row
			.col.xs-12.text-center
				button.btn.btn-warning.btn-lg#record
					span.glyphicon.glyphicon-record(style="font-size: 6em;")
				button.btn.btn-warning.btn-lg#stopRecord(style="display: none;")
					span.glyphicon.glyphicon-stop(style="font-size: 6em;")
		.row
			br
