.coolHeading1 {
	font-family: 'Lily Script One', cursive;
}
.coolHeading2 {
	color: #FFF !important;
	font-family: 'Lily Script One', cursive;
}
.backgroundCH1 {
	background-color: #7DAD93;
}
.whiteFont {
	color: #FFF;
}
