.coolHeading1 {
	font-family: 'Lily Script One', cursive;
}
.coolHeading2 {
	color: #FFF !important;
	font-family: 'Lily Script One', cursive;
}
.backgroundCH1 {
	background-color: #9edcba;
}
.whiteFont {
	color: #FFF;
}

#editor h1 {
	font-family: Roboto;
	font-weight: 300;
}
