template(name="aboutUs")
	.container.container-fluid
		.row
			.col-xs-12
				h2.coolHeading2
					| The Team
		.row
			.col-xs-12
				.media
					a.pull-left(href="https://www.linkedin.com/profile/view?id=89338287&trk=nav_responsive_tab_profile")
						img.media-object(src="https://media.licdn.com/mpr/mpr/wc_200_200/p/8/005/06d/2ba/0f75032.jpg")
					.media-body
						h4.media-heading.whiteFont Ethan Willis (Software Engineer, Founder)
						p.whiteFont I'm a Software Engineer by trade and training. I graduated in 2013 with my B.S. in Computer Science from U of M while working fulltime as an Engineer for Varsity Spirit Corp. Currently I'm a graduate student in Bioinformatics at University of Memphis, where I employ my skills as an engineer in order to augment and faciliate research within the department. Alongside livenot.es I work on many research projects, web applications, pet projects, and startups.  
		.row
			br
