template(name="manage_notebooks")
	.container.container-fluid
		.row
			.col-xs-12.text-center
				h1.coolHeading2
					| My Notebooks
		.row
			.col-xs-12
				button.btn.btn-warning.pull-right(data-toggle="modal", data-target="#createNotebookModal") Create Notebook
		.row
			.col-xs-12
				hr
		.row
			.col-xs-12
				if hasNotebooks
					each notebooks
						.col-sm-3
							.carousel.slide(data-ride="carousel")
								.carousel-inner
									.item.active
										a.editHover(href="/manage_notebook/{{_id}}", id="{{_id}}")
											+if hasNotes _id
												img.img-responsive(src="/images/book2.png", style="margin: 0 auto;")
												.carousel-caption(style="top: 10px; bottom: auto;")
													if name
														| {{name}}
													else
														| No Title
											else
												img.img-responsive(src="/images/book1.png", style="margin: 0 auto;")
												.carousel-caption(style="top: 0; bottom: auto;")
													if name
														| {{name}}
													else
														| No Title
											.carousel-caption.notebookEdit(style="display: none;", id="edit{{_id}}")
												a.editNotebook(href="#")
													span.glyphicon.glyphicon-cog.pull-left
												a.deleteNotebook(href="#")
													span.glyphicon.glyphicon-remove.pull-right(style="color: #951F2B;", id="{{_id}}")
				else
					h1.coolHeading2.text-center You don't have any Notebooks :( Why not try adding some?
					br
					br
		.modal.fade#createNotebookModal
			.modal-dialog.modal-sm
				.modal-content
					.modal-header
						button.close(type="button", data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h4.modal-title Create a Notebook
					.modal-body
						form.form-horizontal
							.form-group
								.col-xs-12
									input.form-control#notebookName(type="text", placeholder="Enter a notebook name...")
					.modal-footer
						button.btn.btn-primary.pull-right#createNotebook(data-dismiss="modal") Save
						button.btn.btn-default.pull-left(data-dismiss="modal") Close
