template(name="compose_note")
	.container
		.col-lg-3
			+note_navigation
		.col-lg-9
			+note_editor

template(name="note_navigation")
	.panel.panel-info
		.panel-heading My "{{notebooks.[0].name}}" Notes
		table.table.table-responsive.table-striped.table-condensed
			thead
			tbody
				each note
					tr
						td
							a.text-info(href="/compose_note/{{_id}}") 
								if title
									| {{title}} 
								else
									| No Title
	.panel.panel-default
		.panel-heading Related Notes
		.panel-body
			table.table-responsive.table-condensed
				td
					tr
						a.text-info(href="#") Related Note

template(name="note_editor")
	.form-horizontal
		.form-group
			if title
				input.form-control.col-lg-12#title(value="{{title}}")
			else
				input.form-control.col-lg-12#title(placeholder="Enter Note Name...")
		.form-group
			if body
				textarea.form-control#body(rows="20") {{body}}
			else
				textarea.form-control#body(rows="20" placeholder="Start writing your note...")
		.form-group
			.col-sm-2
				+facebookShare shareConfig
			.col-sm-10
				button.btn.btn-primary.pull-right#saveNote(type="submit") Save to Notebook 
