template(name="composeNote")
	.col-xs-2(style="margin-top: 0px; padding-top: 10px;")
		a(href="/manage_notebook/{{notebooks.[0]._id}}")
			span.glyphicon.glyphicon-bookmark(style="font-size: 3.5em; color: #333332 !important;")
	.col-xs-8(style="padding-top: 100px")
		+noteEditor
	.col-xs-2
		span.glyphicon.glyphicon-link.pull-right(style="font-size: 3.5em; color: #333332")

template(name="socialShareModal")
	+facebookShare shareConfig

template(name="noteEditor")
	#editor(style="font-family: Roboto; font-size: 20px; outline: none !important; ")
