template(name="classSetup")
	.container.container-fluid
		.row
			.col-xs-12
				+courseSearch
		.row
			.col-xs-12
				+listCourses

template(name="listCourses")
	each courses
		.col-sm-3
			.carousel.slide(data-ride="carousel")
				.carousel-inner
					.item-active
						a.editHover(id="{{_id}}")
							img.img-responsive(src="/images/book2.png", style="margin: 0 auto;")
							.carousel-caption(style="top: 10px; bottom auto;")
								| {{department_code}}
								| {{course_code}}
								br
								| {{course_title}}

template(name="courseSearch")
	form(role="form")
		h2.text-center.coolHeading2 Add your courses below!
		.form-group
			input.input-lg.form-control#courseSearch(type="text", placeholder="Search by course name, number, or department..")
