template(name="footer")
	<!--bootstrap footer classes delete otherwise-->
	.footer
		.container
			p.text-muted.text-center 
				a(href="/careers") Careers 
				| |
				a(href="/about_us") About Us 
				| |
				a(href="/leave_feedback") Contact Us!
