head
	title notentio.us | Record, Read, and Listen 
	meta(property="og:title", content="notentio.us")
	meta(property="og:type", content="website")
	meta(property="og:href", content="http://www.notentio.us")
	meta(property="og:image", content="")
	meta(property="og:site_name", content="notentio.us")
	link(href='http://fonts.googleapis.com/css?family=Lily+Script+One', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Roboto:100,300', rel='stylesheet', type='text/css')
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
