head
	title MyCampusHacks 
	meta(property="og:title", content="MyCampusHacks Note")
	meta(property="og:type", content="website")
	meta(property="og:href", content="http://localhost:3000/compose_note/8Xru97qDrC2tJDt4F")
	meta(property="og:image", content="http://mycampushacks.com/image/css/images/cssimages/logo01.png")
	meta(property="og:site_name", content="MyCampusHacks.com Notes")
	
