head
	title livenot.es | Record, Read, and Listen 
	meta(property="og:title", content="livenot.es")
	meta(property="og:type", content="website")
	meta(property="og:href", content="http://localhost:3000/compose_note/8Xru97qDrC2tJDt4F")
	meta(property="og:image", content="")
	meta(property="og:site_name", content="livenot.es")
	link(href='http://fonts.googleapis.com/css?family=Lily+Script+One', rel='stylesheet', type='text/css')
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
