template(name="site_links")
	if currentUser
		li
			a(href="/manage_notebooks/") My notebooks
		li
			a(href="/lecture_to_notes") lecture2note
	li(style="display: none;")
		a(href="/textbook_marketplace") 
