template(name="add_classes")
	.container.container-fluid
		.row
			.col-xs-12
				.form-horizontal
					.form-group
						input.form-control#lastCourseCode(type="text")
					.form-group
						input.form-control#departmentCode(type="text", placeholder="department code...")
					.form-group
						input.form-control#departmentTitle(type="text", placeholder="department title..")
					.form-group
						input.form-control#courseCode(type="text", placeholder="course code..")
					.form-group
						input.form-control#courseTitle(type="text", placeholder="course title..")
					.form-group
						input.form-control#term(type="text", placeholder="course term..")
					.form-group
						button.btn.btn-block#submitClass Save Class
