template(name="careers")
	.container.container-fluid
		.row
			.col-xs-12
				h1.coolHeading2
					|	Careers
				hr
		.row
			.col-xs-12
				.media
					span.glyphicon.glyphicon-signal.pull-left(style="font-size: 6em; color: #FFF")
					h4.media-heading.whiteFont Meteor Scalability Engineer
					p.whiteFont notentio.us provides all of the challenges that inherently come with the tasks of streaming and processing audio streams on the fly. We are looking for a Scalability Engineer in order to help us manage the massive amounts of data that we transfer day in and day out, while keeping our applications as responsive as possible. Experience with scaling, profiling, and optimizing Meteor applications is a plus. 
					button.btn.btn-warning.pull-right(type="button", style="display: none;") Apply Now
				hr
		.row
			br
